[project]
	description = Distributed (network wide) transaction support for ODL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fangming Chai (fachai)
[access "refs/for/refs/*"]
	read = group user/Fangming Chai (fachai)
	push = group user/Fangming Chai (fachai)
	label-Code-Review = -2..+2 group user/Fangming Chai (fachai)
	label-Verified = -1..+1 group user/Fangming Chai (fachai)
	rebase = group user/Fangming Chai (fachai)
	removeReviewer = group user/Fangming Chai (fachai)
	submit = group user/Fangming Chai (fachai)
[access "refs/heads/*"]
	read = group user/Fangming Chai (fachai)
	create = group user/Fangming Chai (fachai)
	push = +force group user/Fangming Chai (fachai)
	pushMerge = group user/Fangming Chai (fachai)
[access "refs/tags/*"]
	push = +force group user/Fangming Chai (fachai)
	pushTag = group user/Fangming Chai (fachai)
	pushSignedTag = group user/Fangming Chai (fachai)
